* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --dark: #000;
  --grey: #141414;
  --light-grey: #4c4c4c;
  --light: #fff;
  --danger: #d40a14;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  padding: 0 1rem;
  overflow: hidden;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.btn {
  border: none;
  display: block;
  background-color: transparent;
  color: var(--light);
  text-transform: uppercase;
  padding: 0.85rem 1.35rem;
  border: 2px solid var(--danger);
  transition: 0.3s;
}

.btn-danger:hover {
  background-color: transparent;
  transform: scale(1.04);
}

.btn-danger {
  background-color: #d40a14;
  border-radius: 3px;
  cursor: pointer;
}

.showcase .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 90px);
}

.showcase-text {
  margin: 1.5rem;
}

.header {
  font-size: 3rem;
}

.description {
  font-size: 0.95rem;
  margin-top: 0.85rem;
  text-transform: uppercase;
}

section.customer-choice {
  background-color: var(--grey);
  text-align: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 0.75rem;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.choice {
  padding: 1.5rem 0;
  cursor: pointer;
  position: relative;
  color: var(--light-grey);
  transition: 0.3s;
}

.choice::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  transition: 0.3s;
}

.choice:hover::after {
  width: 100%;
  background-color: var(--danger);
}

.choice:hover {
  color: var(--light);
}

.choice i {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.choice p {
  font-size: 0.85rem;
}

footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.danger {
  color: var(--danger);
  font-size: 1.4rem;
}
